<mat-toolbar class="navbar mat-elevation-z5">
  <a routerLink="/" class="logo">
    <img src="./../../assets/jira (2).png" alt="Logo" />
    <h3>Jira</h3>
  </a>

  <div class="nav-links" *ngIf="isAuthenticated">
    <ng-container *ngIf="role == 'Admin'">
      <button mat-button routerLink="/project">Project</button>
      <button mat-button routerLink="/board">Board</button>
      <button mat-button routerLink="/sprint">Sprint</button>
      <button mat-button routerLink="/epic">Epic</button>
    </ng-container>
    <button
      mat-button
      [matMenuTriggerFor]="projectMenu"
      *ngIf="isAuthenticated"
    >
      Stories
    </button>
  </div>

  <button
    mat-button
    class="signup-button"
    routerLink="/login"
    *ngIf="!isAuthenticated"
  >
    Sign In / Sign Up
  </button>

  <ng-container *ngIf="isAuthenticated && user">
    <button mat-button class="logout-button" [matMenuTriggerFor]="profileMenu">
      {{ user.userName }}
    </button>
    <!-- {{ user.userName }} -->
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item [routerLink]="'/profile'">Profile</button>
      <button mat-menu-item (click)="logoutMethod()">Logout</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<mat-menu #projectMenu="matMenu">
  <ng-container *ngFor="let project of projects">
    <ng-container *ngIf="project.boardList.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="boardMenu">
        {{ project.projectName }}
      </button>
    </ng-container>
    <ng-container *ngIf="project.boardList.length <= 0">
      <button mat-menu-item>
        {{ project.projectName }}
      </button>
    </ng-container>

    <mat-menu #boardMenu="matMenu">
      <ng-container *ngFor="let board of project.boardList">
        <ng-container *ngIf="board.sprintList.length > 0">
          <button mat-menu-item [matMenuTriggerFor]="sprintMenu">
            {{ board.boardName }}
          </button>
        </ng-container>

        <ng-container *ngIf="board.sprintList.length <= 0">
          <button mat-menu-item>
            {{ board.boardName }}
          </button>
        </ng-container>

        <!-- [routerLink]="'/'+project.projectName+'/'+board.boardName+'/'+sprint.sprintName+'/' +sprint.sprintId " -->
        <mat-menu #sprintMenu="matMenu">
          <ng-container *ngFor="let sprint of board.sprintList">
            <button
              mat-menu-item
              (click)="sprintClicked(project, board, sprint)"
            >
              {{ sprint.sprintName }}
            </button>
          </ng-container>
        </mat-menu>
      </ng-container>
    </mat-menu>
  </ng-container>
</mat-menu>
