


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #1D7AFC;

  }
  .navbar button {
    font-size: 16px;
    color: #ffffff;
  }

  button[mat-button].active {
    font-size: 16px;
    background-color: #ffffff;
    color: black;
  }
  /* .navbar .button-option:hover {

    border: 1px solid white;
  }
  .navbar .button-selected {
    font-size: 16px;
    background-color: #ffffff;
    color: black;
  
  } */

  .logo{
    display: flex;
    color: #ffffff;
    text-decoration: none;

  }
  
  .logo img {
    height: 35px;
    cursor: pointer;
  }

  .logo h3 {
    cursor: pointer;
    font-size: 35px;
    margin-left: 10px;
    font-family: 'Verdana', sans-serif;
    font-weight: 900;

  }
  
  .nav-links {
    display: flex;
    gap: 16px;

  }
  
  .signup-button {
    color: #3f51b5;
    padding: 6px 16px;
    font-weight: bold;
  }

  .logout-button{
    color: black;
    padding: 6px 16px;
    font-weight: bold;
  }
  
