.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.main{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

mat-form-field{
    width: 400px;
}
button{
    margin-top: 5px;
}