<div class="main">
  <div class="board">
    <div class="board-info">
      <h1 class="info">Jira Application.</h1>
      <h1><strong>Drag • Drop • Done</strong></h1>
      <p>
        Take control of your workflow with Jira Application, a powerful task
        management tool built around an intuitive Kanban board. Whether you're
        managing a team project or tracking personal tasks, our drag-and-drop
        interface makes organization effortless.
      </p>
    </div>
    <div><img class="board-img" src="../../assets/Screenshot1234.png" /></div>
  </div>

  <div class="board-2">
    <a href="https://github.com/Ashish-Koli/Jira-Task-2"><img src="../../assets/github.png"> Backend</a>
    <a href="https://github.com/Ashish-Koli/Jira-Frontend"><img src="../../assets/github.png"> Frontend</a>
    <a href="http://localhost:8080/swagger-ui/index.html"><img src="../../assets/bw-swagger-round.png"> Swagger</a>
  </div>

  <!-- <div class="board-3">
    <img src="../../assets/ToDo.png" />
    <img src="../../assets/InProgress.png" />
    <img src="../../assets/Done.png" />
    <img src="../../assets/Blocked.png" />
  </div> -->
</div>
