<div class="main">
  <h1>Sprint Form</h1>
  <form [formGroup]="sprintForm" class="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Sprint Number</mat-label>
      <input
        matInput
        formControlName="sprintNo"
        title="sprint number"
        placeholder="Enter a sprint number"
      />
      <mat-error *ngIf="sprintForm.get('sprintNo')?.hasError('required')"
        >sprint number is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>Sprint Name</mat-label>
      <input
        matInput
        formControlName="sprintName"
        title="sprint name"
        placeholder="Enter a sprint name"
      />
      <mat-error *ngIf="sprintForm.get('sprintName')?.hasError('required')"
        >sprint name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>Sprint Point</mat-label>
      <input
        matInput
        formControlName="sprintPoint"
        title="sprint point"
        type="number"
        placeholder="Enter the sprint point"
      />
      <mat-error *ngIf="sprintForm.get('sprintPoint')?.hasError('required')"
        >sprint point is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          formControlName="startDate"
          matStartDate
          placeholder="Start date"
        />
        <input formControlName="endDate" matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-select
        class="custom-select"
        formControlName="board"
        placeholder="Add Board"
      >
        <mat-option *ngFor="let board of boards" [value]="board.boardId">{{
          board.boardName
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
      {{ value }}
    </button>
  </form>
</div>
